<!-- start header -->
{% load static %}
<header>
    <div class="container">
        <!-- hidden top area toggle link -->
      <div class="system-message">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
</div>
        <!-- end toggle link -->
        <div class="row nomargin">
            <div class="span12">
                <div class="headnav">
                    {%  if user.id is not None %}
                    <ul>
                    <li><a href="/user"><img src="{{ user.userprofile.image.url }} " style="width: 45px; height: 45px;"> {{ user.first_name }}</a></li>
                        <li><a href="/logout" data-toggle="modal"><i class="icon-signout"></i> Logout</a></li>
                        {% else %}
                        <li><a href="/signup" data-toggle="modal"><i class=" icon-plus-sign"></i> Sign up</a></li>
                        <li><a href="/login" data-toggle="modal"><i class="icon-signin"></i>Sign in</a></li>
                    </ul>

                </div>
                <!-- Signup Modal -->

                <!-- end signin modal -->
                <!-- Reset Modal -->
                <div id="myReset" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myResetModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="myResetModalLabel">Reset your <strong>password</strong></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="inputResetEmail">Email</label>
                                <div class="controls">
                                    <input type="text" id="inputResetEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn">Reset password</button>
                                </div>
                                <p class="aligncenter margintop20">
                                    We will send instructions on how to reset your password to your inbox
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                <!-- end reset modal -->
            </div>
        </div>
        <div class="row">

            <div class="span4">

                <div class="logo">
                    <a href="/"><img src="{% static 'img/logo.png'%}" alt="" class="logo" /></a>

                </div>
            </div>
            <div class="span8">
                <div class="navbar navbar-static-top">
                    <div class="navigation">
                        <nav>
                            <ul class="nav topnav">
                                <li><a href="/"><i class="icon-home"></i>HOME</a></li>



                                <li class="dropdown">
                                    <a href="#"><i class="icon-list"></i>Fakülteler <i class="icon-angle-down"></i></a>

                                        {% load mptt_tags %}
                                            <ul class="dropdown-menu">
                                        {% recursetree category %}

                                            <li class="dropdown"><a href="/fakulteler/{{ node.id }}/{{ node.slug }}">{{ node.title }} {% if not node.is_leaf_node %}<i class="icon-angle-right"></i>{% endif %}</a>
                                                {% if not node.is_leaf_node %}
                                                    <ul class="dropdown-menu sub-menu-level1 ">
                                                      {{ children }}
                                                    </ul>
                                                {% endif %}

                                            </li>
                                        {% endrecursetree %}
                                    </ul>
                                </li>

                                <li><a href="/hakkimizda"><i class="icon-info-sign"></i>About us</a></li>

                                <li>
                                    <a href="/contact"><i class=" icon-envelope-alt"></i>Contact </a>
                                </li>
                            <li><a href="/sss"><i class="icon-question-sign"></i>S.S.S</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end navigation -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->