{% extends 'homebase.html' %}

{% block title %}
    {{ setting.title }}
{% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>LOGIN</h2>
                    </div>
                </div>
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active">Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">

            <div class="container">
            <div class="row">
                <div class="contactForm">

                    <div class="span12">
                <h3 class="title">Login FORMU</h3>
                        {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="span4 form-group">
                  <input type="text" name="username" class="form-control" id="name" placeholder="Your Name"  />
                  <div class="validation"></div>
                </div>
                <div class="span4 form-group">
                  <input type="password" class="form-control" name="password" id="email" placeholder="Password"  />
                  <div class="validation"></div>
                </div>
                        <input type="submit" value="LOGIN">
                        <a href="/signup" class="btn btn-link">Kayıt ol</a>
                    </form>

                    </div>









                </div>
            </div>
        </div>
    </section>

{% endblock %}