{% extends 'homebase.html' %}

{% block title %}
    {{ profile.user.first_name }} {{ profile.user.last_name }}
{% endblock %}
{% block description %}
    {{ setting.description }}
{% endblock %}
{% block keywords %}
    {{ setting.keywords }}
{% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block slider %}
{% endblock %}

{% block content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>{{ user.first_name }} {{ user.last_name }} </h2>
                    </div>
                </div>
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li ><a href="/user"> Profile</a><i class="icon-angle-right"></i></li>
                        <li class="active">Update</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <aside class="left-sidebar">

                        {% include 'user_panel.html' %}
                    </aside>


                </div>

                <div class="span9">
                    <article>
                        <div class="media-content">
                            <img src="{{ user.userprofile.image.url }}" style="width: 200px; height: 200px;">
                        </div>
                            <form method="post" enctype="multipart/form-data">{%  csrf_token %}
                                <fieldset>
                                    {{ user_form.as_p }}
                                    {{ profile_form.as_p }}
                                </fieldset>
                                <div class="form-horizontal">
                            <button class="btn btn-orange" type="submit">UPDATE</button>
                        </div>
                            </form>

                    </article>
                </div>
            </div>
        </div>

    </section>

{% endblock %}